#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.color-options {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}

.choose-button {
  width: 30px;
  height: 30px;
}

.action-button {
  height: 50px;
  width: 50px;
}

.user-action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.button-active {
  background: rgba(38, 212, 38, 0.9);
  border: 3px solid rgb(154, 228, 112);
}

.table {
  margin-top: 20px;
}

.row {
  width: 100%;
  display: flex;
}

.cell {
  height: 20px;
  width: 20px;
  border: 1px solid black
}

.white {
  background-color: rgb(248, 233, 233);
}

.black {
  background-color: #333;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.active {
  border: 6px solid black;
}